<header>
  <div class="nav-container">
    <a href="/">
    <div class="logo">
      <img src="/web_image/folder_128_color.png" alt="Docs Page Logo">
      <span class="page-name">
        <h1>
          <%= locals.header_title || "failed to get header_title in header.ejs" %>
        </h1>
      </span>
    </div><!-- logo -->
  </a>
    
  
    <nav>
      <ul class="nav-links">
        <!-- <li><a href="/surface_pro_4_stuff">Surface OLD</a></li> -->
        <li><a href="/doc/NewSurfacePro4Os">SurfacePro4</a></li>
        <li><a href="/doc/UbuntuStuff">Ubuntu</a></li>
      </ul>
      <div class="hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>
  </div><!-- nav-container -->

</header>