<div class="home_page">
  <div class="col_1">
    <div class="title_custom">
      <h1>Document everything</h1>
    </div>

    <br>

    <div class="list_of_pages">
      <ul>

        <% for( let index=0; index < locals.arry_files.length; index++ ) { %>

          <li><a href="/doc/<%= locals.arry_files[index] %>">
              <%= locals.arry_files[index] %>
            </a></li>

          <% } %>

      </ul>
    </div><!-- list_of_pages -->

  </div><!-- col_1 -->
</div><!-- home_page -->