<div class="home_page">
    <div class="col_1">
        <div class="title_custom">
            <h1>Document everything</h1>
        </div>
        
    <br>
    <div class="list_of_pages">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/ubuntu_stuff">Ubuntu</a></li>
            <li><a href="/surface_pro_4_stuff">Surface Pro 4 </a></li>
        </ul>
    
    </div>

    </div>


</div>
    
