<div class="home_page">
    <h1>Here w doc eeerthing!</h1>
    <p>This is the index.ejs file</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ubuntu_stuff">Ubuntu</a></li>
        <li><a href="/surface_pro_4_stuff">Surface Pro 4 </a></li>
    </ul>
</div>
    
