<!DOCTYPE html>
<html>
<head>
  <title><%= locals.title || "missing" %></title>
  <link rel="stylesheet" type="text/css" href="styling/css/style.css">
  <link rel="icon" href="/web_image/folder_32_color.png">
  <meta property="og:image" content="/web_image/folder_32_color.png">
  <!-- icon for iPhone  shortcut -->
  <link rel="apple-touch-icon" sizes="180x180" href="/web_image/folder_128_color.png">
  <!-- favicon - image on tabs of browser pages-->
  <link rel="icon" type="image/png" sizes="32x32" href="/web_image/folder_32_color.png">

</head>
<body>
    <%- include("partials/header"); %>
  <main>
    <%- include(view_str); %>
  </main>
  <script src="/js/scripts.js"></script>
</body>
</html>