header {
  color: var(--color-accent-blue);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
    text-decoration: none;


  }
  .logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin-right: 10px;
    }

    .page-name {
      color: white;
      font-size: 1.5rem;
      display: none; /* Hide by default on small screens */
    }
  }
}


nav {
  display: flex;
  align-items: center;

  .nav-links {
    display: none; /* Hide by default on small screens */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    // background-color: #333;
    background-color: var(--color-dark-gray);
    padding: 1rem;
    border-radius: 5px;

    li {
      margin: 0;
      padding: 0.5rem 0;

      // a {
      //   color: white;
      //   text-decoration: none;

      //   &:hover {
      //     text-decoration: underline;
      //   }
      // }
    }
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .bar {
      width: 35px;
      // width: 1rem;
      height: 4px;
      // height: 1rem;
      background-color: white;
      margin: 4px 0;
      border-radius: 10px;
    }
  }
}
  // }
// }

// .nav-links becomes nav-links-active when hamburger is clicked
.nav-links-active {
  display: flex !important; /* Show the navigation links when this class is applied */
}

@media screen and (min-width: 768px) {
  .nav-container {
    .logo {
      img {
        height: 70px;
        // margin-right: 10px;
      }
      .page-name {
        display: block;
      }
    }


    nav {
      display: flex;
      align-items: center;

      .nav-links {
        display: flex; /* Show the navigation links on larger screens */
        flex-direction: row; /* Arrange links horizontally */
        list-style-type: none; /* Remove bullets */
        padding: 0;
        // margin: 0;
        font-size: x-large;

        li {
          margin-left: 1rem;
          padding: 0;

          // a {
          //   color: white;
          //   text-decoration: none;

          //   &:hover {
          //     text-decoration: underline;
          //   }
          // }
        }
      }

      .hamburger-menu {
        display: none;
      }
    }
  }
}